@import url("https://fonts.googleapis.com/css2?family=Avenir:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

body {
  /* margin: 0;
  padding: 10px; */
  font-family: "Avenir Next", sans-serif;
  background-image: linear-gradient(#0369A2, #01C5EA);
  background-attachment: fixed;
  overflow-x: hidden;
  color : #28282B;
  
}